/*generala*/
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


/*Kabezera*/
.kabezera {
    background-color: #000;
    color: #fff;  
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 10px 50px;  
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.Nabegadorea ul {
    display: flex;
    gap: 30px;
}

.Nabegadorea a {
    padding: 5px 10px;
    transition: color 0.3s;
}
/*botoiak*/
.Sarrerak {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;

}
.Hasiera{
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.Koadroa {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.sarrera{
  padding: 14px;
  border: 3px solid black;
  border-radius: 3em;
  width: fit-content;
  height: fit-content;
  background-color: skyblue;
  position: absolute;
  left: 34%;
  right: 30%;
  margin-top: auto;
}
/*footera*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 0px 0;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #444;
    width: 100%;
}
